# from documentationMon Sep 20 23:50:53 CEST 2010

# TIDY this urp snippet up:
snippet urp
	database dbname=test
	sql demo.sql
	prefix /
	rewrite style Css/quote quote
	deny url http://en.wikipedia.org/wiki/PHP
	allow url http://en.wikipedia.org/wiki/*
	allow url http://adam.chlipala.net/style.css
	allow mime text/plain
	allow mime image/png
	allow mime image/gif
	
	module1
	module2

# directives found in doumentation
snippet allow_deny
	[allow|deny] [url|mime] PATTERN registers a rule governing which URLs or MIME types are allowed
	in this application. The first such rule to match a URL or MIME type determines the verdict. If
	PATTERN ends in *, it is interpreted as a prefix rule. Otherwise, a string must match it exactly.
snippet benignEffectful
	benignEffectful Module.ident registers an FFI function or transaction as having side effects. The
	optimizer avoids removing, moving, or duplicating calls to such functions. Every effectful FFI function
	must be registered, or the optimizer may make invalid transformations. This version of the effectful
	directive registers that this function has only session-local side effects.
snippet clientOnly
	clientOnly Module.ident registers an FFI function or transaction that may only be run in client
	  browsers.
snippet clientToServer
	clientToServer Module.ident adds FFI type Module.ident to the list of types that are OK to
	  marshal from clients to servers. Values like XML trees and SQL queries are hard to marshal without
	  introducing expensive validity checks, so it’s easier to ensure that the server never trusts clients to send
	  such values. The file include/urweb.h shows examples of the C support functions that are required
	  of any type that may be marshalled. These include attrify, urlify, and unurlify functions.
snippet database
	database DBSTRING sets the string to pass to libpq to open a database connection.
snippet debug
	debug saves some intermediate C files, which is mostly useful to help in debugging the compiler itself.
snippet effectful
	effectful Module.ident registers an FFI function or transaction as having side effects. The optimizer
	  avoids removing, moving, or duplicating calls to such functions. Every effectful FFI function must be
	  registered, or the optimizer may make invalid transformations.
snippet exe
	exe FILENAME sets the filename to which to write the output executable. The default for file P.urp is
	  P.exe.
snippet ffi
	ffi FILENAME reads the file FILENAME.urs to determine the interface to a new FFI module. The
	  name of the module is calculated from FILENAME in the same way as for normal source files. See the
	  files include/urweb.h and src/c/urweb.c for examples of C headers and implementations for FFI
	  modules. In general, every type or value Module.ident becomes uw Module ident in C.
														5
snippet include
	include FILENAME adds FILENAME to the list of files to be #included in C sources. This is most useful
	  for interfacing with new FFI modules.
snippet jsFunc
	jsFunc Module.ident=name gives the JavaScript name of an FFI value.
snippet library
	library FILENAME parses FILENAME.urp and merges its contents with the rest of the current file’s
	  contents. If FILENAME.urp doesn’t exist, the compiler also tries FILENAME/lib.urp.
snippet link
	link FILENAME adds FILENAME to the list of files to be passed to the GCC linker at the end of
	  compilation. This is most useful for importing extra libraries needed by new FFI modules.
snippet path
	path NAME=VALUE creates a mapping from NAME to VALUE. This mapping may be used at the beginnings
	  of filesystem paths given to various other configuration directives. A path like $NAME/rest is expanded
	  to VALUE/rest. There is an initial mapping from the empty name (for paths like $/list) to the
	  directory where the Ur/Web standard library is installed. If you accept the default configure options,
	  this directory is /usr/local/lib/urweb/ur.
snippet prefix
	prefix PREFIX sets the prefix included before every URI within the generated application. The default
	  is /.
snippet profile
	profile generates an executable that may be used with gprof.
snippet rewrite
	rewrite ${1:all|url|page|table|view|cookies|style} ${2:FROM} ${3:TO}
snippet rewrite_doc
	rewrite KIND FROM TO gives a rule for rewriting canonical module paths. For instance, the canonical
	  path of a page may be Mod1.Mod2.mypage, while you would rather the page were accessed via a URL
	  containing only page. The directive rewrite url Mod1/Mod2/mypage page would accomplish that.
	  The possible values of KIND determine which kinds of objects are affected. The kind all matches
	  any object, and url matches page URLs. The kinds table, sequence, and view match those sorts of
	  SQL entities, and relation matches any of those three. cookie matches HTTP cookies, and style
	  matches CSS class names. If FROM ends in /*, it is interpreted as a prefix matching rule, and rewriting
	  occurs by replacing only the appropriate prefix of a path with TO. While the actual external names of
	  relations and styles have parts separated by underscores instead of slashes, all rewrite rules must be
	  written in terms of slashes.
snippet safeGet
	safeGet URI asks to allow the page handler assigned this canonical URI prefix to cause persistent side
	  effects, even if accessed via an HTTP GET request.
snippet script
	script URL adds URL to the list of extra JavaScript files to be included at the beginning of any page
	  that uses JavaScript. This is most useful for importing JavaScript versions of functions found in new
	  FFI modules.
snippet serverOnly
	serverOnly Module.ident registers an FFI function or transaction that may only be run on the
	  server.
snippet sigfile
	sigfile PATH sets a path where your application should look for a key to use in cryptographic signing.
	  This is used to prevent cross-site request forgery attacks for any form handler that both reads a cookie
	  and creates side effects. If the referenced file doesn’t exist, an application will create it and read its
	  saved data on future invocations. You can also initialize the file manually with any contents at least
	  16 bytes long; the first 16 bytes will be treated as the key.
snippet sql
	sql FILENAME sets where to write an SQL file with the commands to create the expected database
	  schema. The default is not to create such a file.
snippet timeout
	timeout N sets to N seconds the amount of time that the generated server will wait after the last
	  contact from a client before determining that that client has exited the application. Clients that
	  remain active will take the timeout setting into account in determining how often to ping the server,
	  so it only makes sense to set a high timeout to cope with browser and network delays and failures.
	Higher timeouts can lead to more unnecessary client information taking up memory on the server. The
	timeout goes unused by any page that doesn’t involve the recv function, since the server only needs
	to store per-client information for clients that receive asynchronous messages.

